# Use PHP5.4 as default
#AddHandler application/x-httpd-php54 .php

# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch

RewriteEngine On
RewriteRule ^/?r/([^/d]+)/?$ /rv/index.php?r=$1 [L,QSA]
