<FilesMatch "\.(ttf|otf|eot|woff|jpg|png|jpeg|gif|js|json|html|css)$">
  <IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "*"
  </IfModule>
</FilesMatch>

RewriteEngine On
RewriteBase /

RewriteRule ^r/(.*)$ http://www.simpleddit.com/$1 [L,R=301]
RewriteRule ^([^/.]+)/?$ index.php?r=$1 [L,NC,QSA]